.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    
    color: #fff;
  }

  body {
    padding-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .image{
    width:200px
    
  }
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .about{
    color:gray;
    font-size: 1rem;
    
  }
  .aboutheading{
    color: #144a87;
    font-size: 1.2rem;
    font-weight: bold;
  }
 .marketingheading{
   margin-top: 10px;
    color: #144a87; 
    font-size: 1.2rem;
    font-weight: bold;
  }
  .marketing p{
    color:gray;
    font-size: 1rem;
  }
  .footer{
    width:100%;
    background-color: #144a87;
    color: white;

  }
  .featurette{
    margin-bottom: 3rem
  }
  .abputpage{
    margin-top: 30px;
  }
.aboutpage h2{

    color: #144a87; 
    font-size: 1.2rem;
    font-weight: bold;

}
.keyarea i{
  font-size: 50px;
  color:#144a87; 
}
.map{
  margin-top: 2rem;
  margin-left: 2rem;
}

.map i {
  font-size: 50px;
  color:#144a87; 

}
.address{
  margin-top: 2rem;
}
.contact{
  
  color:gray;
    font-size: 1rem;

}
.contact h3{
  font-size: 20px;
  font-weight:bold;
  color:#144a87;
  margin-bottom: 20px; 
}
.contact .btn{ margin-top: 20px; background-color: #144a87;}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.imagecontainer{
  min-height: 300px;
  background-image: url("./Images/consulting-jobs.png");
  background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
width:100%;
background-size: cover;
opacity: 1.5;
margin-bottom: 50px;   

}
.technology{
  min-height: 300px;
  background-image: url("./Images/technology.jpg");
  background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
width:100%;
background-size: cover;
opacity: 1.5;
margin-bottom: 50px; 

}
.outsourcing{
  min-height: 300px;
  background-image: url("./Images/outsourcing.jpg");
  background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
width:100%;
background-size: cover;
opacity: 1.5;
margin-bottom: 50px; 

}

.footer a{
  text-decoration: none;
}
.footer li{
  margin-bottom: 10px;
}